body {
    font-family: 'Roboto', sans-serif;
    background-color: #eaeaea;
}

.container {
    padding-top: 30px;
    width: 67%;
    margin: auto;
}

.signature {
    padding-top: 10px;
}

@media screen and (max-width: 800px) {
    .container {
        width: 87%;
    }
}